<%# SECTION CURRENTLY NOT USED IN THE FRONT END, COVERED BY SECTION BELOW: %>

<div class="container" data-controller="result-subscription" data-result-subscription-dilemma-id-value="<%= @dilemma.id %>">
<%# we inject the html stuff here %>
  <div >
    <div class="waiting-for-players">
      <p>You chose <%= @scenario.content %></p>

      <hr>
      <h2>Other people chose</h2>
      <ul data-result-subscription-target="players">
        <% @dilemma.other_results(current_user).each do |result| %>
          <li><%= result.user.name %> chose <%= result.scenario.content %></li>
        <% end %>
      </ul>

    </div>

  </div>

<%# <div class="container" data-controller="result-subscription" data-result-subscription-dilemma-id-value="<%= @dilemma.id %>
<div class="spacer"></div>

<h3>Number of players: <%= @players_total %></h3>
<h3 id='resulta'>Result A Count: <%= @result_a.count %></h3>
<h3 id='resultb'>Result B Count: <%= @result_b.count %></h3>
<h3>Player choice: <%= @scenario.content %></h3>
<h3>Your score: <%= @user.score %></h3>
</div>

<%# =============== %>

<%# THIS IS THE SECTION CURRENTLY USED FOR FRONTEND: %>

<div class="dilemma-section dilemma-result-section" data-controller="result-subscription" data-result-subscription-dilemma-id-value="<%= @dilemma.id %>">

  <div class="question-prompt">
    <h5>You chose:</h5>
    <h2><%= @scenario.content %></h2>
  </div>

  <% if @scenario.content == @dilemma.scenarios.first.content %>
  <div class="scenario-card scenario-left win-result-left" id="result-card">
  <% else %>
  <div class="scenario-card scenario-left" id="result-card">
  <% end %>
    <div id="results-avatars-grid" data-game-subscription-target="players">
      <% @game.players.each do |player| %>
        <% unless player.user.id == current_user.id %>
          <div class="results-avatars-grid-items">
            <%= render "players/player", player: player %>
          </div>
        <% end %>
      <% end %>
    </div>
    <h6><%= @dilemma.scenarios.first.content %></h6>
    <h2>+1</h2>
  </div>

  <% if @scenario.content == @dilemma.scenarios.second.content %>
  <div class="scenario-card scenario-right win-result-right" id="result-card">
  <% else %>
  <div class="scenario-card scenario-right" id="result-card">
  <% end %>
    <div id="results-avatars-grid" data-game-subscription-target="players">
      <% @game.players.each do |player| %>
        <% unless player.user.id == current_user.id %>
          <div class="results-avatars-grid-items">
            <%= render "players/player", player: player %>
          </div>
        <% end %>
      <% end %>
    </div>
    <h6><%= @dilemma.scenarios.second.content %></h6>
    <h2>+1</h2>
  </div>

  <div class="timer result-timer">
    <h5>Number of players: <%= @players_total %></h5>
    <h5>Your score: <%= @user.score %></h5>
      <% if @game.user == current_user %>
        <div data-result-subscription-target="button" class=<%= "d-none" unless @results_total >= @players_total %> >
          <% if @next_dilemma != nil %>
            <%# code for next dilemma button commented out %>
          <%# <%= link_to game_dilemma_path(@dilemma.game, @next_dilemma), class: "btn btn-primary" do %>
            <%= link_to game_dilemma_path(@dilemma.game, @next_dilemma) do %>
            <%= "NEXT DILEMMA" %>
            <% end %>
          <% else %>
            <%= link_to leaderboard_game_path(@game) do %>
              <%= "PODIUM" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
