<div class="container" data-controller="result-subscription" data-result-subscription-dilemma-id-value="<%= @dilemma.id %>">


<%# we inject the html stuff here %>
  <div >
    <div class="waiting-for-players">
      <p>You chose <%= @scenario.content %></p>

      <hr>
      <h2>Other people chose</h2>
      <ul data-result-subscription-target="players">
        <% @dilemma.other_results(current_user).each do |result| %>
          <li><%= result.user.name %> chose <%= result.scenario.content %></li>
        <% end %>
      </ul>

    </div>
    <div class="invisible" <% "d-none" unless @game.user == current_user %>" data-result-subscription-target="button">
      <% if @game.user == current_user %>
        <% if @next_dilemma != nil %>
          <%= link_to game_dilemma_path(@dilemma.game, @next_dilemma) do %>
            <%= "NEXT DILEMMA" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

<div class="spacer"></div>

<h3>Number of players: <%= @players_total %></h3>
<h3>Result A Count: <%= @result_a.count %></h3>
<h3>Result B Count: <%= @result_b.count %></h3>
<h3>Player choice: <%= @scenario.content %></h3>
<h3>Your score: <%= @user.score %></h3>


</div>
