<div class="container" id="show-in-portrait">
<h1>ROTATE YOUR DEVICE!</h1>
</div>


<div class="container" id="landscape-only">
  <h1>Welcome Stranger!</h1>
  <p>Actually, do we know each other?</p>

  <div class="row center">
    <div class="col-sm-4 text-center">
      <div class="card">
        <div class="card-body">
          <%= link_to new_game_path do %>
            <div class="card-body">
              <h4><%= "CREATE A ROOM" %></h4>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="card">
        <div class="card-body">
          <%= link_to games_path do %>
            <div class="card-body">
              <h4><%= "JOIN A ROOM" %></h4>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="card">
        <div class="card-body">
          <%= link_to new_game_path do %>
            <div class="card-body">
              <h4><%= "HOW TO PLAY" %></h4>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<%# <div class="btn-group btn-group-justified" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">CREATE A ROOM</button>
  <button type="button" class="btn btn-secondary">JOIN A ROOM</button>
  <button type="button" class="btn btn-secondary">HOW TO PLAY</button>
</div> %>
