<div class="container">
  <h1>Welcome Stranger!</h1>
  <p>Actually, do we know each other?</p>

  <div class="row center">
    <div class="col-sm-4 text-center">
      <div class="card">
        <%= button_to games_path, method: :post do %>
          <div class="card-body">
            <h4><%= "CREATE A GAME" %></h4>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="card">
        <%= link_to games_path do %>
          <div class="card-body">
          <h4><%= "JOIN A GAME" %></h4>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="card">
          <%= link_to new_game_path do %>
            <div class="card-body">
            <h4><%= "HOW TO PLAY" %></h4>
            </div>
          <% end %>
      </div>
    </div>
  </div>

<%# <div class="btn-group btn-group-justified" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">CREATE A ROOM</button>
  <button type="button" class="btn btn-secondary">JOIN A ROOM</button>
  <button type="button" class="btn btn-secondary">HOW TO PLAY</button>
</div> %>
