<%= render "shared/navbar" %>
<div class="main-container" id="lobby-container">
  <div class="container" data-controller="game-subscription" data-game-subscription-game-id-value="<%= @game.id %>">


    <h2 id="lobby-title">Waiting for other players to join before starting...<h2>

    <div id="lobby-grid">
      <div class="player-section">
        <div class="card">
          <h3 class="card-title">Room code:</h3>
          <h1><%= @game.room_code %></h1>
          <img src="<%= @game.players.select{ |player| player.user.id == current_user.id }.first.avatar_url %>" class="card-img-top">
          <h4 class="current-user-name"><%= current_user.name %></h4>
          <%= link_to "Change avatar", new_user_session_path, class: "quandary-button tertiary-button change-avatar-button" %>
        </div>
      </div>

      <div class="avatars-section">
        <div class="team-boxed">
          <div id="lobby-avatars-grid" data-game-subscription-target="players">
            <% @game.players.each do |player| %>
              <% unless player.user.id == current_user.id %>
              <div class="results-avatars-grid-items">
              <%= render "players/player", player: player %>
              </div>
              <% end %>
            <% end %>
            <%# @game.players.each do |player|%>
              <%# unless player.user.id == current_user.id %>
                <!--div class="col avatar-col mt-1">
                  <img src="<%#= player.avatar_url %>" class="rounded-circle avatar-img">
                  <h3 class="name"><%#= player.user.name %></h3>
                </div-->
              <%# end %>
            <%# end %>
          </div>
        </div>
      </div>
    </div>

    <% if @game.user == current_user %>
      <%= button_to game_dilemmas_path(@game), method: :post, class: "quandary-button primary-button start-game-button" do %>
          <%= "START A GAME" %>
      <% end %>
    <% end %>
  </div>
</div>
