<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
          <h5 class="card-title">Room code: <%= @game.room_code %></h5>
          <button type="button width:100%" class="btn btn-secondary btn-rounded">Change Avatar</button>
      </div>
    </div>
    <div class="avatars-grid justify-content-center col-sm-8">
      <% @game.players.each do |player|%>
        <div class="avatar-col mt-2"><img src="<%= player.avatar_url %>" class="avatar">
        <p class="card-text"><%= player.user.name %></p>
        </div>
      <% end %>
    </div>
    <% if @game.user == current_user %>
      <div class="d-grid gap-2 col-6 mx-auto justify-content-md-end">
        <%# <button type="button width:100%" class="btn btn-secondary text-decoration-none btn-rounded"> %>
          <%= button_to game_dilemmas_path(@game), method: :post do %>
          <%#= link_to game_dilemma_path(@game) do %>
            <%= "START A GAME" %>
          <% end %>
        <%# </button> %>
      </div>
    <% end %>
    <%# <script language="javascript">
      setTimeout(function(){window.location.reload(1);}, 3000);
    </script> %>
  </div>
</div>
