<div class="dilemma-section">

  <div class="question-prompt">
    <h5>Quandary <%= @dilemmas.find_index(@dilemma) + 1 %>/5:</h5>
    <h2>Would you rather...</h2>
  </div>

  <%= link_to  new_game_dilemma_scenario_result_path(@game, @dilemma, @dilemma.scenarios.first),  class: "scenario-card scenario-left" do %>
    <h6><%= @dilemma.scenarios.first.content %></h6>
  <% end %>

  <%= link_to  new_game_dilemma_scenario_result_path(@game, @dilemma, @dilemma.scenarios.second), class: "scenario-card scenario-right" do %>
    <h6><%= @dilemma.scenarios.second.content %></h6>
  <% end %>

  <div class="timer dilemma-timer">
    <i class="fa-solid fa-clock"></i>
  </div>

</div>
