<!DOCTYPE html>
<html>
  <head>
    <title>Quandary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<!-- Facebook Open Graph data -->
<meta property="og:title" content=""Quandary">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.quandary.lol">
<meta property="og:image" content="https://res.cloudinary.com/drfmymoki/image/upload/v1678125284/QuandaryThumb_h7oyqr.png">
<meta property="og:description" content="A Game Of Absurd Dilemmas">
<meta property="og:site_name" content="Quandary.lol">


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
